@{
    ViewData["Title"] = "Navigatie";
}

<section class="nav-page">
    <div class="section-bar">
        <h2>Navigatie</h2>
    </div>

    <div class="info-card">
        <div class="info-card-inner">
            <nav class="nav-page-inner">
                <a href="@Url.Action("Index","Home")" class="nav-item-large spa-link">Home</a>
                <a href="@Url.Action("Pigeons","Home")" class="nav-item-large spa-link">Duiven</a>
                <a href="@Url.Action("Races","Home")" class="nav-item-large spa-link">Vluchten</a>
                <a href="@Url.Action("PigeonsForSale","Home")" class="nav-item-large spa-link">Duiven te koop</a>
                <a href="@Url.Action("Cart","Home")" class="nav-item-large spa-link">Winkelwagen</a>
            </nav>
        </div>
    </div>
</section>
